{lib_dirs,["deps"]}.
{src_dirs, ["src", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {sync,          ".*", {git, "git://github.com/rustyio/sync", "HEAD"}},
    {n2o, ".*", {git, "git://github.com/RomanShestakov/n2o.git", "HEAD"}}
]}.
{post_hooks, [
 	      {compile, "cp ./src/n2o_chat.config ./ebin/."},
	      {compile, "cp -R ./deps/n2o/priv/static/n2o  priv/static/"}
 	     ]}.
